<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crapette en ligne</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js" type="module"></script>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <div id="play-container">
        <form id="form">
            <input type="text" id="input" required>
            <button type= "submit" id="button">Entrer votre nom</button> 
        </form>
    </div>
    <div id="users-display">
        <div class="user" id="user1">
            <% if (users[0] !== undefined) { %>
                 <%= users[0] %> is connected
            <% } %>
        </div>
        <div class="user" id="user2">
            <% if (users[1] !== undefined) { %>
                <%= users[1] %> is connected
            <% } %>
        </div>
    </div>

</body>
</html>